/* 
    Created on : Mar 30, 2016, 2:40:58 PM
    Author     : Alex
*/

*{
    padding: 0;
    margin: 0 auto;
}
body{
    font: 14px/1.5 sans-serif;
}
#wrapper{
    display: flex;
    margin-top: 8%;
}

/*#googleMap{
    display: none;
}*/
/****** Form view ***********/
div#form-view-left{
    width: 370px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

div#form-view-left input{
    width: 94%;
    display: block;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 8px 0;
}

div#form-view-left button {
    background-color: #4CAF50;
    color: white;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 10px 15px;
    margin-top:20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
div#form-view-left button[type=button]{
    float:right;
}


/****** Map Container *******/
#googleMap{
    width: 700px;
    height: 481px;
}
#phoneNumberToolTip{
    position: absolute;
    margin-left: 390px;
    margin-top: -80px;
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 1);
    border-radius:10px;
    background:black;
    text-align: left;
    padding: 10px;
    font-size: 0.78em;
}

.tooltip{
    color:white;
    opacity:0;
}

#msg{
    height: 30px;
    font-weight: bold;
    color: red;
}