* {
    margin: 0 auto;
    padding: 0;
}
body{
    font: 18px/1.5 Arial , Verdana;
}

/******* Main Container ************/
#calcForm{
    position: relative;
    top:100px;
    width: 280px;
    height: 323px;
}

/******** Calc Display ************/
#topScreens{
    width: 260px;
    max-width: 260px;
    padding: 0 10px;
    height: 105px;
    padding-top: 10px;
    background-color: black;
    /* background-color: #A0598F; */
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
#topScreens input, #topScreens p{
    width: 100%;
    text-align: right;
    margin-left: -1px;
    color: white;
    background-color: black;
    /* color: #ebd3ec; */
    /* background-color: #8A3976; */
    border: none;
    overflow-wrap: normal;
}
#viewFormula{
    height: 60px;
    max-width: 96.5%;
    /* margin-top: 10px; */
    overflow: hidden;
    font-size: 0.7em;
    background: #191818 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}
#viewCurrentNumber{
    height: 35px;
    border-top: 1px solid white;
    font-size: 1.4em;
}

/******** Calc Buttons ************/
table#calcButtons{
    border-collapse: collapse;
    background: -webkit-linear-gradient(left top,  #073 0%,#0fa 50%,#073 100%);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
table#calcButtons tr>td{
    width: 62px;
    height: 40px;
    border:2px solid #711C08;
    text-align: center;
}
table#calcButtons tr:first-child td:first-child{
    font-size: 1.4em;
}
table#calcButtons tr td:first-child{
    border-left: none;
}
table#calcButtons tr td:last-child{
    border-right: none;
}
table#calcButtons tr:last-child td{
    border-bottom: none;
}
table#calcButtons tr:first-child td{
    border-top: none;
}
table#calcButtons tr:last-child td:first-child{
    border-bottom-left-radius: 25px;
}
table#calcButtons tr td.equal{
    border-bottom-right-radius: 29px;
    border-bottom: none;
    background-color: orangered;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}
table#calcButtons tr td.mathSymbols{
    font-size: 1.2em;
}

table#calcButtons tr td:hover,
table#calcButtons tr td:focus {
    cursor: pointer;
    color:#fff !Important;
    background: -webkit-linear-gradient(#0fa 20%, #073 50%,#0fa 100% );
    background-position:0 0, 0 0;
    -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    transition-duration:0.5s;
}

.operator {

}

.number {

}
